::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background: gray;
}

::-webkit-scrollbar-thumb:hover {
  background: gray;
  cursor: pointer;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: cactus;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow: auto;
  background-color: aquamarine;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  text-overflow: ellipsis;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.container {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.AlisverisHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AlisverisHeader button {
  padding-inline: 8px;
}

dialog {
  padding: 10px;
}
#modal{
  position: relative;
  top: 100px;
  left: calc(50% - 260px);
}

.alısveris-form {
  background-color: rgb(13, 233, 159);
  padding: 10px;
  border-radius: 20px;
  width: 500px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.alısveris-form button {
  cursor: pointer;
  width: 200px;
  border: 2px solid black;
}

.alısveris-form button:hover {
  border: 2px solid black;
  background-color: rgb(13, 233, 159);
  color: white;
}

.sepet {
  width: 800px;
  margin: 20px auto;
  padding: 5px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border: 2px solid black;
  border-radius: 20px;
}

.urunList {
  width: 800px;
  margin: 20px auto;
  padding: 5px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  border: 2px solid black;
  border-radius: 20px;
}

.urun-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  background-color: rgb(13, 233, 159);
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.urunList p {
  overflow: auto;
}

.urunList button {
  width: 100px;
  padding: 2px 5px;
}
.sepetTutari {
  background-color: rgb(13, 233, 159);
  width: 200px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  color: white;
}
.urun {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-transform: capitalize;
  font-size: 20px;
  border: 1px solid black;
}
.urun span::after{
  content: "₺";
}
.urun a{
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-weight: 900;
}
.urun svg{
  width: 20px;
}
.urunEditControls {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  align-items: center;
}

.garbage {
  font-size: 45px;
  padding: 1px 10px;
  background-color: white;
  border: none;
  font-weight: 500;
}

.clearStorage {
  width: 200px;
  margin: 20px auto;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 900;
}

.heading {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 10px;
}
.modelEdit {
  display: none;
}

.editModal .modelEdit {
  display: initial;
}

.editModal .modelAddNew {
  display: none;
}